<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.dstny.activities" >

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>

        <activity
            android:name="activities.SplashScreen"
            android:label="Random Acts of Kindness"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="activities.MainActivity"
            android:label="Main Activity" >
        </activity>

        <activity
            android:name="activities.PhoneNumbers"
            android:label="Main Activity" >
        </activity>


        <activity
            android:name="activities.Settings"
            android:label="Main Activity" >
        </activity>

        <activity
            android:name="activities.ExitSplashScreen"
            android:label="Main Activity" >
        </activity>

        <activity
            android:name="activities.EmailAddresses"
            android:label="Main Activity" >
        </activity>

        <activity
            android:name="activities.DonateSettings"
            android:label="Main Activity" >
        </activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="3d19a1db0b2453ce8f5c955d15c998eacbab7ba3" />
    </application>

</manifest>
